body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

#toggleGraph {
    outline: white;
    background-color: rgba(30, 33, 40, 1);
    border-color: rgba(255,255,255,0.4);
    width: 20vw;
    transition: width 1s;
    height: 5vh;
    border-radius: 2.5vh;
    text-align: center;
}

.menu {
    background-color: rgba(252, 15, 15, 0);
    display: flex;
    z-index: 9999;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 6%; /* set a height or remove this line to fit content */
    position: absolute;
    bottom: 0;
  }

  .media-box {
    background-color: rgba(137, 43, 226, 0);
    /* visibility: collapse; */
    opacity: 0;
    transition: opacity 1s;
    display: flex;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 6%;
    left: 0;
    right: 0;
    padding: .5%;
  }
  
  .chart {
    background-color: rgba(30, 33, 40, 1);
    outline: 4px solid rgba(255, 255, 255, 0.4);
    outline-width: 1px;
    z-index: 10000;
    border-radius: 2rem;
    margin: 20px;
    padding: 20px;
    height: 100%;
    flex: 1 1 auto; /* this will make the charts grow and shrink as necessary */
    min-width: calc(100% / 4 - 2%); /* adjust the fraction based on the number of charts you want to display */
    max-width: calc(100% / 1 - 2%);
  }