body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* see comment in corresponding div */
.chart {
    position: relative;
    width: 50vw;
    height: 50vh;
}